body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

html {
    height: 100%;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url(../images/water0.png);
    
}

#ports {
    width:0px; 
    margin-top:96px;
    display: flex;
    justify-content: space-around;
}
#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url(../images/port.png);
}

#ship {
    width: 128px;
    height: 65px;
    background-image: url(../images/ship.png);
    position: absolute;
}

#sailbutton {
    width: 100%;
    background-color: red;
    border-bottom: 4px solid #d8040f;
    height: 40px;
    border: 0;
    font-family: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px, 20px;
    font-family: 'Press Start 2p', cursive;
    color: white;
    font-size: 18px;
}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 5px;

}

#message {
    width: 100%;
    background-color: white;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-family: inherit;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 10px, 20px;
    font-family: 'Press Start 2p', cursive;
    color: black;
    font-size: 16px;
}